.loader{
    height : 100px;
    width : 100px;
    border-radius: 50%;
    border : 20px solid navy;
    border-top : 20px solid lightblue;
    animation: Loader 5s ease-in infinite normal;
}

@keyframes Loader{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}